.sidebar {
  width: 250px; /* Fixed width for sidebar */
  height: 100vh; /* Full height of the viewport */
  background-color: #111; /* Default dark background */
  color: #ddd; /* Default light text */
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed; /* Fixed to the left of the viewport */
  top: 0;
  left: 0;
  overflow: hidden; /* Prevents content overflow */
}

.sidebar.light {
  background-color: #f4f4f4; /* Light mode background */
  color: #333; /* Light mode text color */
}

.sidebarHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  margin-right: 10px;
  width: 40px;
}

.email {
  font-size: 25px; 
  font-weight: bold;
}

.nav {
  margin-top: 30px; /* Add space below the "Admin Panel" text */
}

.nav ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}



.footer {
  margin-top: auto; /* Push footer to the bottom */
  margin-bottom: 50px;
}

.logout,
.themeToggle {
  display: flex;
  align-items: center;
  background: none; /* No background for buttons */
  border: none; /* No borders */
  color: inherit; /* Inherit sidebar text color */
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  padding: 10px 15px; /* Add spacing for clickable area */
  border-radius: 5px; /* Rounded hover effect */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}

.logout:hover,
.themeToggle:hover {
  background-color: #333; /* Dark hover effect */
  color: #fff; /* Light text on hover */
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

.navItem:hover {
  background-color: #607D8B;
  color: #fff;
}

/* Active state styles */
.active {
  background-color:  #333; 
  color: white; /* White text for contrast */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
