body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.signupBox {
  display: flex;
  width: 900px;
  height: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.signupForm {
  flex: 1;
  padding: 50px;
  background-color: #fff;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.signupForm h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #333;
}

.signupForm p {
  margin-bottom: 30px;
  color: #666;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signupButton {
  width: 100%;
  padding: 12px;
  background-color: #facc87;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signupButton:hover {
  background-color: #f3891f;
}

.signinLink {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.signinLink a {
  color: #6b3dfd;
  text-decoration: none;
}

.signinLink a:hover {
  text-decoration: underline;
}

.signupImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f3891f, #f3891f);
  position: relative;
}

.signupImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div while maintaining aspect ratio */
  position: absolute; /* Keeps the image within the boundaries */
  top: 0;
  left: 0;
}
